


.anim {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .anim.animate {
    opacity: 1;
  }


*{
    margin: 0;
    padding: 0;
}

body{
   background: #1E1E1E;
    /* overflow-x: hidden; */
}
.navbar{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 4;
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;


    /* opacity: 0;
    transition: opacity 1s ease-in-out; */

   
}
    /* background-color: green; */


.navbar ul{
    list-style: none;
    padding-left: 0.2em;

    width: 100%;
   
    gap: 1.2em;
    

    display: flex;
    justify-content: center;
}

.navbar ul li{
    
font-family: 'Inter';
padding-top: 0.5em;
padding-bottom: 0.5em;

font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 15px;
transform: translateY(-75px);



color: #ffffff;
}



.notif{

position: absolute;
width: 7px;
height: 7px;
margin-left: 0.1em;
background: #0D788F;
border-radius: 50%;
}

.reg{
    background-color: #0D788F;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 5px;

}

.navbar ul a{
    text-decoration: none;
}

.svgholder{
    display: flex;
    justify-content: center;
    
}

.events{
    transform: translateY(70px);

}
.events ul li button{
    margin-top: 1em;
    background: rgba(13, 119, 143, 0.163);
border: 1px solid #0D788F;
border-radius: 17px;
box-shadow: inset -5px 5px 5px 3px rgba(23, 169, 201, 0.34);
}

.events ul li{
    width: 100%;
    margin-top: 1em;
}

.events button{
    background-color: transparent;
    border: 0;
    margin: 0.5em;
}
.events button img{
    width: 100%;
}
.head{
    background-color: #0D788F;
    color: white;
    font-family: "inter";
    font-weight: 500;
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 0.3em;
    border-radius: 20px;
    font-size: 0.8em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.7em;

}

